body {
  font-family: sans, "Roboto";
  position: relative; }

p {
  color: #0b3e65;
  font-size: 1em;
  line-height: 2em;
  padding-left: 20%;
  padding-right: 20%; }

h1 {
  font-size: 2em;
  font-family: sans, "Russo One";
  text-align: center;
  color: #0b3e65; }

h2 {
  font-size: 1.8em;
  font-family: sans, "Russo One";
  color: #0b3e65;
  text-align: center;
  margin-bottom: .5em;
  margin-top: 2em; }

h3 {
  font-size: 1.6em;
  font-family: sans, "Russo One";
  color: #0b3e65;
  text-align: center; }

h4 {
  font-size: 1.4em;
  font-family: sans, "Russo One";
  color: #0b3e65; }

.desktop {
  display: none; }

.mobile {
  display: block; }

.desktopMts {
  display: none; }

.mobileMts {
  display: block; }

.jumbotron {
  text-align: center;
  width: 100%;
  height: 400px;
  padding: 0;
  background: linear-gradient(rgba(4, 24, 40, 0.5), rgba(4, 24, 40, 0.5)), url(../images/portBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.jumbotron h1 {
  text-align: center;
  padding-top: 5em;
  margin-top: 0px;
  color: #fff;
  margin-bottom: 0px; }

#downloadMessage {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  color: white; }

.navbar {
  margin-bottom: 0; }

.navbar-default {
  background-color: #0b3e65; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #0b3e65;
  background-color: #fff; }

.navbar-default .navbar-nav > li > a {
  font-size: 1.3em;
  letter-spacing: .5em;
  color: #fff;
  font-weight: bold; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #fff; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-default .navbar-toggle {
  color: #fff;
  border-color: #fff; }

hr {
  color: #0b3e65;
  border-top: 2px solid #0b3e65;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 10px; }

.selfPortrait {
  width: 160px;
  margin-left: auto;
  margin-right: auto; }

.portGroup {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px; }

.btn-default {
  background-color: #0b3e65;
  color: #ffffff;
  margin-top: 20px;
  font-size: 1.3em;
  width: 200px;
  border-radius: 0; }

.marginUpButton {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0; }

.selfPortrait img {
  width: 90%;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px; }

footer {
  text-align: center;
  font-size: 1.3em; }

#github p {
  padding-bottom: 30px; }

.gitHubs {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-align: center;
  border: 2px solid rgba(4, 24, 40, 0.5); }

.gitHubs h3 {
  color: #0b3e65;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.githubs p {
  color: #0b3e65;
  font-size: 1.2em; }

.gitHubs button {
  margin-top: 20px;
  margin-bottom: 20px; }

#social p {
  color: #0b3e65;
  font-family: sans, 'Russo One';
  font-size: 1.5em;
  text-decoration: none; }

#social .well {
  border-top: 1px solid #0b3e65;
  border-bottom: 1px solid #0b3e65;
  background-color: #fff; }

#social .well a {
  color: #0b3e65;
  font-family: sans, 'Russo One'; }

#social .well a:hover {
  text-decoration: none; }

@media (min-width: 768px) {
  .jumbotron {
    background-size: cover,content; }

  .jumbotron h1 {
    padding-top: 3em;
    font-size: 4em; }

  .gitHubs {
    width: 500px; } }
@media (min-width: 1200px) {
  .portGroup {
    width: 700px;
    margin-left: auto;
    margin-right: auto; } }

/*# sourceMappingURL=custom.css.map */
